.container {
  background-color: skyblue;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2vw 0 2vw;
}

.time {
  text-align: center;
  margin: auto;
  font-size: 0.75em;
}

@media screen and (max-width: 610px) {
  .container > div:nth-child(3n) {
    display: none;
  }
  .container > div:nth-child(4n) {
    display: none;
  }
}

@media screen and (max-width: 910px) {
  .container > div:nth-child(3n) {
    display: none;
  }
}

@media screen and (max-width: 1795px) {
  .container > div:nth-child(odd) {
    display: none;
  }
}
